Foydalanuvchilar_Royxati.xlsx
excel_base64.txt
*.xlsx
*.xls
*.csv
*.html

media/
screenshots/
*.png
*.jpg
*.jpeg
*.mp4
*.webm
!og-image.png


venv/
.venv/
__pycache__/
*.pyc
*.pyo


.env
*.log


sessions/

# Test natijalar
test_output/
test_captcha.py

# Vercel
.vercel/
